* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Montserrat", sans-serif;
    max-height: 720px;
    height: 100vh;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    color: #e0e0e0;
}

.noteElement {
    border-top: 5px solid transparent;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.noteForm-title,
.noteForm-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-family: sans-serif;
}

.note-color {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.note-color--yellow {
    background-color: #fcca78;
}
.note-color--green {
    background-color: #b2e597;
}
.note-color--blue {
    background-color: #5792e9;
}
.note-color--pink {
    background-color: #f58ab5;
}
.note-color--violet {
    background-color: #9853f3;
}

.note-color-selected {
    border: 3px solid #333;
}

.appHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .noteForm {
} */

.noteForm-title {
    background-color: #190335;
    color: #5792e9;
}

.noteForm-text {
    background-color: #190335;
}
